$main-font: 'Poppins', sans-serif;
$logo-font: 'ZCOOL XiaoWei', serif;
$main-text-color: #242424;
$background-color: #141414;

/* Color Theme Swatches in Hex */
$Teals-1-hex: #19555c;
$Teals-2-hex: #80d8e1;
$Teals-3-hex: #3bccdb;
$Teals-4-hex: #34585c;
$Teals-5-hex: #2d9ca8;

/* Color Theme Swatches in Hex */
$neon-02-1-hex: #f32fcf;
$neon-02-2-hex: #a45af5;
$neon-02-3-hex: #4a23da;
$neon-02-4-hex: #009da9;
$neon-02-5-hex: #ccf17a;
